#!/usr/bin/env bash
set -e;

restore_filename=$RESTORE_FILENAME
database=$DB_NAME
action=$MONGO_ACTION

s3_base_path={{ s3_backup_base_path }}/$database

{% for mongo_conf in mongo_config %}
current_container_name="mongo-{{ mongo_conf.port }}"
is_active=$(docker container inspect -f "{{ '{{.State.Running}}' }}" $current_container_name)
if [ "$is_active" == "true" ]
then
  main_container=${main_container:-$current_container_name}
fi
{% endfor %}

host_list="{% for mongo_conf in mongo_config %}mongo-{{ mongo_conf.port }}.{{ root_domain }}:{{ mongo_conf.port }}{% if not loop.last %},{% else %}{% endif %}{% endfor %}";

dump_file=$database-$(date '+%d-%m-%YT%H:%M:%SZ');

if [[ "$action" == "backup" ]]
then
  echo "Start backup the database";

  docker exec \
  -e database=$database -e host_list=$host_list -e dump_file=$dump_file \
  $main_container bash -c \
  'mkdir /root/mongodb-backup && mongodump --uri="mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@$host_list/$database?authSource=admin&replicaSet=rs&ssl=false"  --archive="/root/mongodb-backup/$dump_file.gz" --gzip';

  docker cp $main_container:/root/mongodb-backup/$dump_file.gz {{ remote_backup_dir }}/$dump_file.gz;

  docker run --rm \
  -v {{ remote_backup_dir }}:/mongodb-backup \
  -v {{ aws_dir }}:/root/.aws:ro \
  illya/aws-cli \
  s3 cp /mongodb-backup/$dump_file.gz s3://$s3_base_path/$dump_file.gz --profile={{ aws_profile }};

  rm -rf {{ remote_backup_dir }}/**;
  docker exec $main_container bash -c 'rm -rf /root/mongodb-backup';
else
  echo "Start restoring the database";

  docker exec $main_container bash -c 'mkdir /root/mongodb-backup';
  
  docker run --rm \
  -v {{ remote_backup_dir }}:/mongodb-backup \
  -v {{ aws_dir }}:/root/.aws:ro \
  illya/aws-cli \
  s3 cp s3://$s3_base_path/$restore_filename.gz /mongodb-backup/ --profile={{ aws_profile }};

  docker cp {{ remote_backup_dir }}/$restore_filename.gz $main_container:/root/mongodb-backup/$restore_filename.gz

  docker exec \
  -e database=$database -e host_list=$host_list -e restore_file=$restore_filename \
  $main_container bash -c \
  'mongorestore --uri="mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@$host_list/$database?authSource=admin&replicaSet=rs&ssl=false"  --archive="/root/mongodb-backup/$restore_file.gz" --gzip';

  rm -rf {{ remote_backup_dir }}/**;
  docker exec $main_container bash -c 'rm -rf /root/mongodb-backup';

fi;
